:root {
	color-scheme: light dark;

	--light-bg: ghostwhite;
	--light-color: darkslategray;
	
	--dark-bg: #121212;
	--dark-color: ghostwhite;
}

* {
	background-color: light-dark(var(--light-bg), var(--dark-bg));
	color: light-dark(var(--light-color), var(--dark-color));
	padding: 0;
	margin: 0;
}
