---
import Layout from '../layouts/Layout.astro';
import backgroundUrl from '../assets/b27404dc-fdab-4d25-a9fa-192fc632fb38.webp';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section id='hero' backgroundUrl={`url(${backgroundUrl.src})`}></section>
</Layout>

<style define:vars={{backgroundUrl}}>
#hero{
	background-image: var(--backgroundUrl);

}

</style>
