---
import lightThemeLogo from '../assets/dark_logo.png';
import DarkThemeLogo from '../assets/darkThemeLogo.png';
import Navigation from './Navigation.astro';
---

<header>
	<picture class='logo'>
		<source srcset={lightThemeLogo.src} media="(prefers-color-scheme: light)">
		<source srcset={DarkThemeLogo.src} media="(prefers-color-scheme: dark)">
		<img src={DarkThemeLogo.src} alt="Supreme Detailing Logo" />
	</picture>
<h1>Supreme Mobile Detailing</h1>
	<Navigation />
</header>

<style>
header {
display: flex;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	box-shadow: var(--header-shadow); 

}
ul {
	list-style-type: none;
	margin: 50px;
	li {
		display: inline;
	}
}

nav a {
	gap: 4px;
}


.logo img {
	width: auto;
	height: 200px;
	
}
 
</style>
