---

---

<header>
	<img src="" alt="logo" />
<h1>Supreme Mobile Detailing</h1>
	<nav>
<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
	<li><a href="/services">Services</a></li>
</ul>
	</nav>	
</header>

<style>
header {
display: flex;
justify-content: space-between;
}
ul {
	list-style-type: none;
	li {
		display: inline;
	}
}
</style>
